
<!--form [formGroup]="assetform" (ngSubmit)="updateasset()">
    <input type="hidden" #ad_id [(ngModel)]="product.pid" formControlName="ad_id">
    <div class="form-group">
            <label for="ad_name">Asset Name</label>
            <input type="text" #ad_name [(ngModel)]="assets.ad_name" formControlName="ad_name" class="form-control">
          </div>
    <div class="form-group">
      <label for="ad_type_id">Asset Type</label>
      <input type="text" [(ngModel)]="assets.ad_type_id" class="form-control" placeholder="choose assetype" formControlName="ad_type_id">
    </div>
    <div class="form-group">
            <label  for="ad_class"></label>
            <input type="" #pdate [(ngModel)]="assets.ad_class"  class="form-control" formControlName="ad_class">
          </div>
          
              <button type="submit" class="btn btn-primary">Update</button>
</form-->

<form [formGroup]="assetform"  (ngSubmit)="updateasset()">

        <input type="hidden" #assetid [(ngModel)]="asset.ad_id" formControlName="ad_id">
        
    <div class="form-group" [ngClass]="{'has-error':isSubmitted && formControls.ad_name.errors}">
      <label for="ad_name">Asset Name</label>
      <input type="text" class="form-control" #assetname [(ngModel)]="asset.ad_name" placeholder="Enter name" formControlName="ad_name">
    </div>


           <div [ngClass]="form-group">
            <label class="col-md-4">Asset Type</label>

           <select class="form-control" id="ad_type_id" #assettypeid [(ngModel)]="asset.ad_type_id" name="ad_type_id" formControlName="ad_type_id">
            <option value="">Choose Asset Type</option>
            <option *ngFor="let assettype of assettypes | async" value="{{assettype.at_id}}">{{assettype.at_name}}</option>
          </select> 
        </div> 
       
        <div *ngIf="assetform.controls['ad_type_id'].invalid && (assetform.controls['ad_type_id'].dirty || assetform.controls['ad_type_id'].touched)" class="alert alert-danger">
          <div *ngIf="assetform.controls['ad_type_id'].errors.required">
            Asset Type is required.
          </div> 
        </div> 
<div [ngClass]="form-group">
  <label class="col-md-4">Asset Class</label>
      <select class="form-control" formControlName="ad_class" #assetclass [(ngModel)]="asset.ad_class" >
          <option value="">Select Asset Class</option>
          <option value="HW">Hardware</option>
          <option value="SW">Software</option>
        </select>
      
      <div *ngIf="assetform.controls['ad_class'].invalid && (assetform.controls['ad_class'].dirty || assetform.controls['ad_class'].touched)" class="alert alert-danger">
        <div *ngIf="assetform.controls['ad_class'].errors.required">
          Asset Class is required.
        </div>
      </div>   
    </div>     
    <div *ngIf="isSubmitted && formControls.ad_name.errors" class="help-block">
      <div *ngIf="formControls.ad_name.errors.required">name is Required</div>
  </div>
    
   
    
    
    <button type="submit" class="btn btn-primary" [disabled]="assetform.pristine||assetform.invalid">Update</button>
  </form>